<header class="app-header">
  <div class="header-content">
    <div class="header-left">
      <div class="logo">
        <img src="../../assets/images/logo_udla.svg" alt="Logo de la UDLA" />
      </div>
      <h1 class="title">{{ classNRC }}</h1>
    </div>
    <div class="header-right">
      <div class="student-welcome">
        <span class="welcome">Bienvenido/a</span>
        <span class="student-name">{{ studentName }}</span>
      </div>
      <div class="divisor"></div>
      <span class="logout-btn"><i class="pi pi-sign-out"></i></span>
    </div>
  </div>
</header>
