<div class="sidebar">
  <app-sidebar-option
    [sidebar]="this"
    icon="pi pi-file-edit"
    value="Asignaciones"
  ></app-sidebar-option>
  <app-sidebar-option
    [sidebar]="this"
    icon="pi pi-file-edit"
    value="Evaluaciones"
  ></app-sidebar-option>
  <!-- <app-sidebar-group-options
    [sidebar]="this"
    icon="pi pi-bars"
    value="Modos de juego"
    [items]="gameModeOptions"
  ></app-sidebar-group-options> -->
  <app-sidebar-option
    [sidebar]="this"
    icon="pi pi-bars"
    value="Modos de juego"
    [items]="gameModeOptions"
  >
  </app-sidebar-option>
  <app-sidebar-option
    [sidebar]="this"
    icon="pi pi-chart-line"
    value="Progreso"
  ></app-sidebar-option>
</div>
